@charset "utf-8";
html{background:#fff;overflow:auto;}
body{min-width:1000px;font:12px/18px "Microsoft Yahei";font-weight:lighter;color:#333; -webkit-font-smoothing: antialiased; }
a{color:#333; text-decoration:none; cursor:pointer; outline: 0 none;}
a:hover{ text-decoration:none;color:#ff4f20;}
a:focus{-moz-outline-style:none; border:0px;blr:expression(this.onFocus=this.blur());}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,p,blockquote,th,td{margin:0; padding:0;}
header,footer,article,aside,section,nav,menu,hgroup,details,dialog,figure,figcaption{display:block}
ol,li,ul,dl,dt,dd{list-style:none;}
fieldset,img {border:0}
button,submit,input,select { vertical-align:middle;}
button,submit { cursor:pointer;}
h1,h2,h3,h4,h5,h6{font-size:inherit; font-weight:lighter;}
table{border-collapse:collapse; border-spacing:0;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
select,button{font-family:inherit; font-size:inherit; font-weight:inherit; outline-style:none; outline-width:0pt; padding: 0; margin: 0;}
b,em,i{display:inline-block; font-weight:normal; font-style:normal;}
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden;} .clearfix{ zoom:1;}
.container { width:1200px; position:relative; margin:0 auto;}
.fl{float:left;}
.fr{float:right;}
.top{
	background-color: #f0f0f0;
	height: 35px;
	line-height: 35px;
}
.top li{
	float:left;
	margin-left: 13px;
    text-align: center;
}
.logo{
	height:90px;
	line-height:150px;
}
.nav{
	font-size:20px;
	color: #666;
}
.nav li{
	float: left;
	margin-left: 20px;
	text-align: center;
	width: 100px;
	height: 50px;
	line-height: 50px;
}
.footer{
	width:100%;
	background: #f2f2f2;
}
.advantage{
	background: url(../../pictures/index/advantage_bg.png) no-repeat;
	height:100px;
}
.advantage ul{
	list-style: none;
	padding-top:30px;
	padding-bottom: 10px;
	margin:0 auto;
	width:1200px;
	border-bottom: 0.5px solid #cccccc;
}
.advantage ul li{
	float: left;
	margin-top:70px;
	text-align: center;
	width: 240px;
	font-size: 20px;
	height: 30px;
	line-height: 30px;
}
.footer p{
	width:1000px;
	margin: 0 auto;
	text-align: center;
	font-size: 18px;
	margin-top:50px;
}
.active a{
	color:deepskyblue;
}
.main-wrap {
	width: 100%;
	margin-top: 35px;
}
.car-wrap {
	width: 1200px;
	border: none;
	margin: 0 auto;
}
.brand-box {
	position: relative;
	width: 1140px;
	overflow: hidden;
	border: 1px solid #ccc;
	margin-top: -21px;
	margin-left: -1px;
	margin-bottom: 20px;
	line-height: 30px;
	padding-left: 30px;
	padding-right: 30px;
}
.brand-box .type-box {
	height: 70px;
}
.brand-box .type-box span {
	width: 100px;
	display: inline-block;
	font-size: 16px;
	font-weight: bolder;
	color: #666;
	text-align: right;
	line-height: 70px;
}
.tabcon {
	margin-left:100px ;
}
.tabbox .tabcon a {
	height: 30px;
	line-height: 30px;
	display: inline-block;
	color: #666;
	font-size: 14px;
	cursor: pointer;
	padding: 0 10px;
}
.brand-box .type-box a {
	font-size: 14px;
	color: #666;
	cursor: pointer;
	padding: 0px 10px;
	display: inline-block;
	vertical-align: 1px;
}
.brand-box .brand-box-list span {
	position: absolute;
	width: 100px;
	display: inline-block;
	font-size: 16px;
	font-weight: bolder;
	color: #666;
	text-align: right;
	/*line-height: 62px;*/
}
a {
	text-decoration: none;
}
.tabbox .tabcon a:hover {
	color: #0088cc;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
	margin: 0;
	padding: 0;
}
.tabbox .tabcon a {
	height: 30px;
	line-height: 30px;
	display: inline-block;
	color: #666;
	font-size: 14px;
	cursor: pointer;
	padding: 0 10px;
}
.car-box {
	padding: 10px;
	zoom: 1;
	overflow: hidden;
	_padding-right: 0;
	_padding-left: 9px;
	_padding-bottom: 20px;
	border: 2px solid #ccc;
}
.car-list {
	width: 270px;
	height: 255px;
	display: inline-block;
	border: 1px solid #ccc;
	margin: 7px;
	_margin: 6px;
	position: relative;
	cursor: pointer;
}
.load-more {
	height: 80px;
	text-align: center;
	width: 100%;
}
i, cite, em, var, address, dfn {
	font-style: italic;
}
.car_on {
	border:1px solid #0088cc
}
.car-list .car-img, .car-list .car-img img {
	height: 170px;
	width: 270px;
}
.car-list .car-des {
	height: 60px;
	width: 270px;
	position: absolute;
	bottom: 0;
	_bottom: -1px;
}
.car-list .car-des span {
	display: inline-block;
	width: 250px;
	height: 25px;
	line-height: 25px;
	font-size: 14px;
	font-weight: bolder;
	text-indent: 12px;
	margin-top: 5px;
}
.car-list .car-des i {
	display: inline-block;
	width: 250px;
	height: 20px;
	line-height: 20px;
	font-size: 12px;
	font-weight: normal;
	text-indent: 12px;
	font-style: normal;
}
.load-more a:hover {
	background: url(../../pictures/brandstep1_btn.png) no-repeat 0 -138px;
}
.load-more a {
	width: 220px;
	height: 43px;
	display: inline-block;
	background: url(../../pictures/brandstep1_btn.png) no-repeat 0 -94px;
	margin-top: 10px;
}